/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Life Savers', serif; */

/*
COLORS
H1, Get answer button, text in input field: #2B4E80;
Get answer button disabled: #607AA0;
Get answer button hover: #1C3455;
light blue background: #E6ECF4;
clear button: #DE4841;
clear button disabled: #D0CDCD
*/



body div {
  display: flex;
  flex-direction: column;
}

.page-title {
  font-family: 'Life Savers', serif;
  font-size: 30px;
  color: #2B4E80;
  text-align: center;
}

.page-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: auto;

}

.page-content div {
margin: 3%;

}

.big-box {
  font-family: 'Life Savers', serif;
  background-color: #E6ECF4;
  width: 400px;
  height: 400px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.big-box input, button {
  font-size: 20px;

}


.answer-button {
  font-family: 'Open Sans', sans-serif;
  background-color: #2B4E80;
  border: none;
  padding: 1%;
  margin-top: 2%;
  color: white;
}

.answer-button:hover {
  background-color: #1C3455;

}

.answer-button:disabled {
  background-color: #607AA0;
}

.user-input {
  font-family: 'Open Sans', sans-serif;
  color: #2B4E80;
  border: none;
  text-align: center;
  padding: 1%;
}

.eight-ball img {
  width: 150px;
  height: 150px;
  align-self: center;
  padding-top: 10%;
  ;
}

.question {
  font-style: italic;
  font-size: 30px;
  text-align: center;
}

.answer {
  font-size: 40px;
  text-align: center;
}

.woody {
  align-self: flex-end;
}

.woody div {
  width: auto;
  max-height: 400px;

  display: flex;
  align-self: flex-end;
}

.woody img {
  max-height: 450px;
}

.clear-button {
  font-family: 'Open Sans', sans-serif;
  background-color: #DE4841;
  border: none;
  align-self: flex-end;
  width: 20%;
  padding: 1%;
  position: absolute;
  right: 4%;
  bottom: 4%;
  /* margin-bottom: auto; */
}

.clear-button:disabled {
  background-color: #D0CDCD;
  color: white;
}
